<video id="top-video" style="border-radius:17px;margin-bottom:0.5rem;" width="100%" height="100%" preload="metadata"
    controls poster="https://namatek.com/katibeha-poster.jpg">
    <source src="https://namatek.com/katibeha.mp4" />
</video>
<h2 style="color:#FA8C00">اساتید برتر</h2>

<div style="display: flex;text-align: center;max-width: 100%;overflow-x: auto;scroll-snap-type: x mandatory;">
    {{#each items as |item|}}

    <a href="" data-user-card="{{item.Username}}" style="display: flex;margin: 0.5rem;flex-direction: column;">
    <div class="topic-list-avatar">
        <img alt="" src="{{item.Avatar}}" class="avatar" 
         style="width: 100px;height: 100px;">
    </div>
    <div class="name-and-date" style="margin-top: 0.5rem;display: flex;flex-direction: column;width:110px">
        <span style="color:var(--primary);font-weight:bold">{{item.Title}}</span>
        <span style="color:var(--secondary-medium)">{{item.SubTitle}}</span>
    </div>
</a>
    {{/each}}
</div>